.price_by_night{
    color: #FF5A5F;
    border: 4px solid #FF5A5F;
    min-width: 60px;
    height: 60px;
    border-radius: 100%;
    font-size: 30px;
    text-align: center;
    line-height: 60px;
    position: absolute;
    right: 1rem;
    top: 1rem;
}

.information{
    height: 80px;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 3rem 0;
}

.max_guest{
    width: 100px;
}
.guest-icon{
	background-image: url("../images/icon_group.png");
	background-repeat: no-repeat;
	background-position: center;
	width: 50px;
	height: 50px;
    margin: 10px auto;
}
.number_rooms{
    width: 100px;
}

.room-icon{
    background-image: url("../images/icon_bed.png");
	background-repeat: no-repeat;
	background-position: center;
	width: 50px;
	height: 50px;
    margin: 10px auto;
}

.number_bathrooms{
    width: 100px;
}

.bath-icon{
    background-image: url("../images/icon_bath.png");
	background-repeat: no-repeat;
	background-position: center;
	width: 50px;
	height: 50px;
    margin: 10px auto;
}

.user{
    text-align: left;
    margin-top: 20px;
}
.description{
    text-align: left;
    margin-top: 10px;
}
